@font-face {
    font-family: productbold;
    src: url(/Fonts/Product\ Sans\ Bold.ttf);
}

@font-face {
    font-family: productregu;
    src: url(/Fonts/Product\ Sans\ Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: productregu;
}

html,
body {
    height: 100%;
    width: 100%;
}

.main {
    height: 100vh;
    width: 100%;
    background-color: red;
}

nav {
    position: fixed;
    height: 10vh;
    width: 100%;
    /* background-color: antiquewhite; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0vw 10vw;
    z-index: 99;
}

nav a {
    text-decoration: none;
    /* text-transform: uppercase; */
    font-size: 1.3vw;
    color: #fff;
}

.nav-center {
    display: flex;
    gap: 3vw;
}

nav i {
    font-size: 1.3vw;
    color: #fff;

}

.one {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background: linear-gradient(150deg, rgb(255, 166, 0), rgb(255, 68, 0));
}

.fanta {
    width: 40%;
    z-index: 2;
    position: absolute;
    transition: all cubic-bezier(0.19, 1, 0.22, 1);
}

.orange2 {
    width: 15%;
    position: absolute;
    top: 10%;
    left: 32%;
    z-index: 1;
    transition: all cubic-bezier(0.19, 1, 0.22, 1);
}

.orange {
    width: 20%;
    position: absolute;
    z-index: 3;
    top: 55%;
    right: 30%;
    transition: all cubic-bezier(0.19, 1, 0.22, 1);
}

.one h1 {
    font-size: 25vw;
    font-family: productbold;
    color: #fff;

}

.leaf {
    top: 10%;
    left: 0%;
    transform: rotate(60deg);
    position: absolute;
    width: 18%;
    transition: all cubic-bezier(0.19, 1, 0.22, 1);
}

.leaf2 {
    position: absolute;
    top: 60%;
    left: 80%;
    transform: rotate(-90deg);
    width: 12%;
    transition: all cubic-bezier(0.19, 1, 0.22, 1);
}

.leaf3 {
    position: absolute;
    width: 20%;
    top: 0%;
    right: 0%;

}

.two {
    display: flex;
    width: 100%;
    height: 100vh;
    background: #4d231c;
}

.left,.right {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 3vh;
    width: 50%;
    height: 100%;
    
}

.right h1 {
    color: #fff;
    font-size: 5vw;
}

.right p {
    font: 1vw;
    color: #fff;
    width: 80%;
}

 #three {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5vw;
    width: 100%;
    height: 100vh;
    background: linear-gradient(150deg, rgb(255, 166, 0), rgb(255, 68, 0));

}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1vw;
    width: 25vw;
    height: 70vh;
    margin-top: 10vh;
    border-radius: 20px;
    background-color: #fff;
}

.card h1 {
    font-size: 3vw;
    margin-top: 23vw;
}

.card button {
    font-size: 1vw;
    border-radius: 50px;
    background-color: orange;
    color: #fff;
    border: none;
    padding: 1vw 2vw;
}

#cocacola {
    top: 14%;
    position: absolute;
    width: 13%;

}

#pepsi {
    position: absolute;
    width: 20%;
    top: 12%;
   
}

.lemon{
    width: 25vw;
    position: absolute;
    top: 0%;
} 

#fanta{
    position: absolute;
    width: 30vw;
    top: 16%;

}